.navbar {
  background-color: var(--color-primary);
  height: 74px;
  /* width: 100vw; */
  width:1440px;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing:border-box;
  
}

:root{
  --color-primary:#34C94B;
}

